* {
    /*outline: 1px solid blue;*/
}
body {
    font-family: sans-serif; 
}
/*-----------------------------------------------------------------------------------------------------HEADER*/

header{
    background: linear-gradient(to right,#fff,#fff,#fff ,#eaeaea,#eaeaea,#eaeaea)
}
header img {
    height: 50px;
    width: 350px;
}
header span {
    position: relative;
    left:70px;
    bottom:20px;
    color:#ded6d6;
    font-size:14px;
}
header .search-box input {
    padding:8px; /*Para que el texto se centre, no utilizar height porque se deforma*/
    font-size:12px;
    margin:5px 90px; 
    width:160px;
}
header .search-box .fa-search {
    margin-left: -115px;
    color:#bfbfbf;
}

/*-----------------------------------------------------------------------------------------------------END-HEADER*/

/*---------------------------------------------------------------------------------------------------------HERO--*/ 
.hero {
    color:#c6c6c6;
    background: linear-gradient(to right, #fff,#fff, #fff,#313131, #313131,#313131 );
}
.hero .logo{
    width: 60px;
    position: relative;
    top: 175px;
    left: 210px;
}
.hero h1 {
    padding:10px;
    font-size: 35px;
    border-bottom: 1px solid #c6c6c6;
    width:300px;
    padding-left:0; 
}
.hero span{
    border: solid #0c980c 2px;
    padding: 3px;
    font-size: 14px;
    color: #0c980c;
    font-weight: bold;
    border-radius: 5px;
}
.hero p{
    font-size: 12px;
    display: inline-block;
    margin-top: 25px;
}
.hero .banner {
    background:#333 url(../img/banner.jpg) no-repeat;
    background-size: contain;
}
.hero table{
    margin-top: 15px;
    font-size: 12px;
}
.hero table th {
    padding-top: 2px;
}
.hero table td{
    padding-left: 30px;
}
.info input, button {
    padding: 15px 15px 15px 30px;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-weight: bold;
    width: 160px;
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 12px;
}
.info input {
    background: #e2af07;
}
.info button {
    background: #d17901;
}
.info .fa-youtube-play, .fa-ticket {
    display: inline-block;
    margin-left: -145px;
    color: #fff;
}

/*------------------------------------------------------------------------------------------------------ESTRENOS*/
.estrenos {
    background: #ebb230;
}
.estrenos .estreno  {
    padding: 0 35px;
}
.estrenos img {
    width: 100%;
    margin: 30px 2px;
    padding: 0;
    height: 200px;
}
/*----------------------------------------------------------------------------------------------------CONTENIDO*/
.contenido{
    margin-top: 25px;
}
.contenido small{
    color: #e6e0e0;
    font-size: 25px;
}
.contenido button {
    background: #cc8d00;
    border: 1px solid #cc8d00;
    border-radius: 3px;
    color: #FFF;
    margin-top: 50px;
    position: relative;
    bottom: 25px;
}
.contenido h1{
    font-size: 20px;
    padding: 10px 0px 10px 0;
}
.contenido h2{
    color: #e8ac64;
    font-size: 12px;
    font-weight: lighter;
}
.contenido p{
    margin-top: 30px;
    color: #983737;
}
.contenido h3{
    color: #cecece;
    font-size: 20px; 
    padding: 20px 0px;
    font-weight: bold;
}
.contenido ul{
    list-style: none;
}

.contenido span {
    color: #cecece; 
    font-size: 13px;
}
.contenido ul p {
    color: #cecece;
    margin-top: -5px;
    font-size: 13px;
}
.contenido hr{
    border: solid #F4F0F0 1px; 
    margin: 30px;
    margin-left: -2px;
}
.contenido .more{
    text-decoration: none;
    color: #fcd681;
    font-size: 12px;
    font-weight: bold;
}
/*----------------------------------------------------------------------------------------------------CARTELERA*/
.cartelera img {
    width: 100%;
}
.cartelera img {
    width: 220px;
    height: 240px;
}
.cartelera {
    margin: 50px 80px 40px 80px;
}
/*----------------------------------------------------------------------------------------------------FOOTER*/

footer{
	background-color:#F4F0F0;
	color:#b7b0b0;
	padding-bottom: 1%;
	padding-top: 2%;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
footer h4{
    font-size: 15px;
}
footer .foot{
    margin-bottom: 20px;
}
footer .copy{
    margin-bottom: 20px;
}
footer .pie{
    font-size: 10px;
}





















